{% extends 'main.html.twig' %}

{% block title %}Przepraszamy{% endblock %}

{% block body %}
<h1>Przepraszamy, ale wystąpił problem.</h1>
<h3>Proszę spróbować ponownie, albo sprawdzić, czy ilość biletów nie przekracza dostępnej ilości.</h3>
{% endblock %}
